<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand text-bold" href="#">Toni<span class="text-light">Blog</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav navbar-right">
        
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('main.index')}}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.addpost')}}">Add post</a>
        </li>
        
        {% if current_user.is_authenticated %}
        <li style="color:white;padding:15px;">{{current_user.username}}</li>
        <li><a class="nav-link" href="{{url_for('auth_bp.logout')}}">Sign out</a></li>
        {% else %}
        <li><a class="nav-link" href="{{url_for('auth_bp.login')}}">Sign in</a></li>
        {%endif%}
      </ul>
    </div>
  </nav>